[submodule "views/frontoffice/default"]
	path = views/frontoffice/default
	url = https://github.com/Smalte/theme.frontoffice.default.git
[submodule "views/backoffice/default"]
	path = views/backoffice/default
	url = https://github.com/Smalte/theme.backoffice.default.git
[submodule "libraries/Smalte"]
	path = libraries/Smalte
	url = https://github.com/Smalte/framework.git
[submodule "modules/smalte/sample"]
	path = modules/smalte/sample
	url = https://github.com/Smalte/module.sample.git
[submodule "tests"]
	path = tests
	url = https://github.com/Smalte/tests.git
